
* {
    box-sizing: border-box;
  }
   input[type=text], input[type=submit], b{
    /* width: 18%; */
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 15px;
  }

  
  .header {
    background-image: linear-gradient(to bottom right, #82c138, #c6100d);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
 tr, td {
    width: 25%;
    border-spacing:0; /* Removes the cell spacing via CSS */ 
    border-collapse: collapse;
	  border: 1px solid black;
	  text-align: center;
	  vertical-align: middle;
  }

  .myTableData{
    text-align: centre;
    border-radius: 8px;
    width: 100%;
    background-color: bisque;

  }